header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth-box {
  display: flex;
  gap: 12px;
  align-items: center;
}

.auth-btn,
.logout-btn {
  background-color: #59000A;
  color: #FFDEBD;
  padding: 6px 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s ease;
  font-size: 14px;
}

.auth-btn:hover,
.logout-btn:hover {
  background-color: #7a0010;
}

.user-email {
  color: #59000A;
  font-weight: bold;
  background: #FFDEBD;
  padding: 6px 12px;
  border-radius: 8px;
}
